{% extends "master.html" %}

{% block title %}
  Blood Bank Management
{% endblock %}


{% block content %}

  <h1 class="head text-white text-center p-3">Blood Bank Management System </h1>

  <h3>Home Page</h3>

  <p>Go to <a href="admin/">Admin login</a></p>
  <p>Check out all our <a href="donation/">Donor</a></p>
  <p>TO ADD DONOR <a href="home/">Donor-API</a></p>

  


<!-- footer -->
<div class="footer clearfix">
  <p class="text-center text-white p-2">
    Red Cross Blood Bank Management System
    <br> The National Headquarters of the Red Cross US
    <br> located at 1237 East Avenue,
    <br> McAllen, VA 67243.
    <br>

  </p>

</div>
{% endblock %}